:root{
  --main-bg-color:#0d47a1
}


body{
  background-color:    white   ;
  height: 100%;
  margin: 0;
  padding:0
} 
 
 
.btn{
  border-radius: 0;
  z-index: 1;
}
.fa{
  font-size: 2rem;
  margin: 5px;
}
.fa-shopping-cart{
  color: var(--main-bg-color)!important;
  position: relative;
}
.shopping-cart-number{
  position: absolute;
  top:3px;
  margin-left: 25px;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: red;
  border-radius: 100%;
  padding-left:5px;
  padding-right: 5px;
}

.shopping-cart-div{
  display: flex;
  justify-content: center;
}
.shopping-cart-div-message{
  font-size: 0.6rem;
}
 
.top-nav{
  display: flex;
  justify-content: space-between;
}
.navbar{
  background-color:var(--main-bg-color)!important;
  padding: 0;
}
.navbar-brand{
  
  margin-top: 1px;
}
.navbar a{
  color: white!important;
  padding: 15px;
  margin-top: -2px;
  font-weight: bold;
}

.bookName-title h3 {
   padding: 5px;
  color: black;
}
.bookName-title{
  margin-top: -15px;
  color: white!important;
  background-color: white;
}
.book-card:hover{
  cursor: pointer;
}
 
.book-card h3{
  color: #212f3c;
  font-weight:600 ;
}
.book-card{
  background-color: white ;
  color: black;
}
.samples-left{
  color: #212f3c!important;
  border-radius: 25px;
  font-size: 1.2rem;
}
.badge{
  border-radius: 0!important;
}
 
 .navbar .test{
background-color: transparent!important;
text-decoration: none;
padding:10px; 
 }
 .navbar .test:hover{
  background-color: transparent!important;
  }
  
.footer{
  height: 200px;
}

.pagination-buttons a{
   background-color: white;
   border: 1px solid var(--main-bg-color);  
}
.pagination-buttons a:hover{
  background-color: white;
  border: 1px solid var(--main-bg-color);  
}


.validation{
  color: red;
  font-size: 0.8rem;
}
.fa-exclamation-circle{
  font-size: 0.8rem;
}
.alert-success{
  position:'absolute';
  z-index:'2';
  left:'25%'
  ;top:'5%';
  padding:'20px';
  transition: ease-in-out;
}
.cart-books{
  display: flex;
  justify-content: space-between;
}

.modal-window{
  position: absolute;
  z-index: 1;
  top:50%
}
 






 
 
 